:root {
    /* Primary */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    /* Neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    /* font */
    --Montserrat: "Montserrat", sans-serif;
    --Fraunces: "Fraunces", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: clamp(1rem, 0.5vw + 0.9rem, 1.2rem);
}

.card img {
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0rem, 1.5vh + 1rem, 1rem);
    background-color: var(--cream);
}

.card {
    border-radius: 0.5em;
    background-color: var(--white);
    max-width: clamp(300px, 0.5vh + 5px, 500px);
    display: flex;
    flex-direction: column;
}

.image, .content {
    flex: 1;
}

.content {
    max-width: ;
    padding: clamp(1.25rem, 0.5vh + 0.5rem, 2rem);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1 {
    font-family: var(--Fraunces);
}

p {
    font-family: var(--Montserrat);
}



.card a {
    background-color: var(--green-500);
    padding: 0.625em 1.25em;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125em;
    border-radius: 0.5em;
    font-size: clamp(1rem, 0.5vw + 0.5rem, 1.2rem);
}

.card a:hover {
    background-color: var(--green-700);
}

.cart {
    font-size: clamp(1rem, 0.5vw + 0.9rem, 1.2rem);
}


.price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.subtitle {
    color: var(--grey);
    font-size: clamp(0.8rem, 0.5vw + 0.4rem, 1rem);
    font-weight: 500;
}

.description {
    color: var(--grey);
    font-size: clamp(0.8rem, 0.5vw + 0.4rem, 1rem);
    font-weight: 500;
}

.title {
    font-size: clamp(1.7rem, 1.5vw + 1rem, 3rem);
}

.discounted_price {
    color: var(--green-500);
    font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);
    font-weight: 700;
    font-family: var(--Fraunces);
}

.original_price {
    text-decoration: line-through;
    font-size: clamp(0.7rem, 0.5vw + 0.5rem, 1.2rem);
    color: var(--grey);
    font-weight: 500;
}

.card-btn a img {
    font-size: clamp(1rem, 0.5vw + 0.5rem, 1.2rem);

}



@media (min-width: 768px) {
    .card {
        max-width: 35em;
        flex-direction: row;
        background-color: var(--white);
    }

    .image, .content {
        flex: 1;
    }

    .card img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5em;
    }

    .content {
        gap: 1.9em;
    }
}


.attribution { font-size: clamp(0.1rem, 0.5vw + 0.5rem, 1rem); text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }