/* Variables */

:root {
    /* Primary */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    /* Neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    /* font */
    --Montserrat: "Montserrat", sans-serif;
    --Fraunces: "Fraunces", serif;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */

p {
    font-family: var(--Montserrat);
}

.subtitle {
    color: var(--grey);
    font-size: clamp(0.1rem, 0.5vw + 0.4rem, 1rem);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.description {
    color: var(--grey);
    font-size: clamp(0.1rem, 0.5vw + 0.4rem, 1rem);
    font-weight: 500;
}

.title {
    font-size: clamp(1.1rem, 1.5vw + 1rem, 2rem);
    font-family: var(--Fraunces);
}

.discounted_price {
    color: var(--green-500);
    font-size: clamp(1.1rem, 1.5vw + 1rem, 2rem);
    font-weight: 700;
    font-family: var(--Fraunces);
}

.original_price {
    text-decoration: line-through;
    font-size: clamp(0.1rem, 0.5vw + 0.5rem, 1.2rem);
    color: var(--grey);
    font-weight: 500;
}

.card-btn {
    font-size: clamp(0.1rem, 0.5vw + 0.5rem, 1.2rem);
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
}


/* main */

main {
    min-height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    background-color: var(--cream);
}


/* card */

.card {
    max-width: 300px;
    min-width: 250px;
    border-radius: 0.5em;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
}

.image, .content {
    flex: 1;
}

.content {
    padding: clamp(1.25rem, 0.5vh + 0.5rem, 2rem);
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}

.card picture img {
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: auto;
}

.card-btn img {
    max-width: 15px;
    width: 100%;
}

.card-btn {
    white-space: nowrap;
}

.btn-text {
    font-size: clamp(0.5em, 1vh + 0.5em, 2em);
    
}

.card {
    height: auto;
}

.card a {
    background-color: var(--green-500);
    padding: 0.625em 1.25em;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125em;
    border-radius: 0.5em;
    font-size: clamp(1rem, 0.5vw + 0.5rem, 1.2rem);
}

.card a:hover {
    background-color: var(--green-700);
}

.card-btn a img {
    font-size: clamp(0.7rem, 0.5vw + 0.5rem, 1.2rem);

}

@media (min-width: 768px) {

    .card {
        grid-template-columns: 1fr 1fr;
        background-color: var(--white);
        max-width: 560px;
    }

    .image, .content {
        flex: 1;
    }

    .card picture img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5em;
        /* object-fit: cover; */
    }

    .card picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content {
        gap: 1.9em;
    }
}

footer { 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.1rem, 0.5vw + 0.5rem, 1rem); 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}